html {
    overflow: hidden;
}

body {
    background-color: #FFF;
    margin: 0;
    overflow: hidden;
}

#knoprood {
    background-color: transparent;
    height: 8em;
    left: 41.5em;
    opacity: 0.5;
    position: absolute;
    top: 51.1em;
    width: 8em;
    z-index: 2;
}

#knopgroen {
    background-color: transparent;
    height: 8em;
    left: 56em;
    opacity: 0.5;
    position: absolute;
    top: 51.1em;
    width: 8em;
    z-index: 2;
}

#knopblauw {
    background-color: transparent;
    height: 8em;
    left: 70.6em;
    opacity: 0.5;
    position: absolute;
    top: 51.1em;
    width: 8em;
    z-index: 2;
}

p {
    color: white;
    font-family: sans-serif;
    font-size: 11px;
    left: 5em;
    margin: 0;
    position: absolute;
    top: 2em;
}

.zwart {
    color: black;
}

.home {
    height: 50px;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 2;
}

#div {
    background-color: transparent;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
}

#knop {
    height: 50px;
    left: 0;
    position: absolute;
    top: 3em;
    z-index: 2;
}
